<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RDLC_ReporitngWith_Parameters_WindowsFormsApp.Properties.Settings.RDLC_Report_DBConnectionString"
            connectionString="Data Source=DESKTOP-51RF4TH\SQLEXPRESS;Initial Catalog=RDLC_Report_DB;Persist Security Info=True;User ID=sa; Password = 1996"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>